* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f4f4f4;
    flex-direction: column;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 5px;

    display: flex;
    align-items: center;

    background: rgba(255, 255, 255, 0.281);
    backdrop-filter: blur(5px);

    z-index: 1000;
}


.logo img {
    height: 100px;
    width: 130px;
    margin-top: 5px;
    margin-right: 70px;

}
nav{
    display: flex;
    align-items: center;
}
nav a{
        text-decoration: none;
        color: #000000;
}
    

nav ul{
    padding: auto;
    display: flex;
    gap: 120px;
    list-style: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
    border-radius: 10px;
    padding-bottom: 0%;
}

.nav--item a:hover{
    color: #ff9500;
}
@media (max-width: 900px){
heaeder{
    padding: 15px 25px;
}
.logo img{
    width: 90px;
}
nav ul{
    gap: 15px;
}
-nav--item a{
    font-size: 16px;
}}

/*celulares*/
@media (max-width: 600px){
    header{
        flex-direction: column;
        gap: 2px;
        padding: 2px;
    }
    .logo img{
        width: 80px;
    }
    nav ul{
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .nav--item a{
        font-size: 14px;
    }
    
   
}

section{
    width: 100%;
    height: 100vh;
}
section img{
    width: 300%;
    height: 100%;
    object-fit: cover;
}

footer {
    flex-grow: 1;
    background-color: #6b0000;
    color: #000000;
    text-align: left;
    padding: 70px 0;
    bottom: 0;
    width: 100%;
}

.donde{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    background: #6b0000


}
#carouselExample{
    margin-top: 1px;
    padding: 5px;
    color:  #1111;
    width:  400px;
    height: 400px;
    margin: 100px auto;
    border-radius: 15px;
}
/*slide¿*/
.carousel-item{
    height: 400px;
    width: 400px;
    color: #000000;
}
#carouselExample{
    width: 40%;
    max-width: 900px;
    height: 400px;
}
.carousel-item img{
    margin-right: 10px;
    width: 100%;
    height: 100%;
}

@media (max-width: 760px){
    #carouselExample{
        height: 350px;
    }
}
.ubi{
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    width: 100%;
}
.mapslogo{
    width: 30px;
    height: 30px;
}
